/* GERAL --------------------------------------------------------*/
*{
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size: 8px;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

ul,li {
    list-style-type: none;
}

body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

img{
    width: 100%;
}

/*Cabeçalho --------------------------------------------------------*/

.cabecalho {
    background-color: #674582;
    width: 100vw;
    position: fixed;
    top:0;
    z-index: 999;
}

.container{
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__logo{
    max-width: 200px;
    min-width: 200px;
}

.navegacao__web{
    display: none;
}

.navegacao__mobile img{
    max-width: 20px;
    min-width: 20px;
}

/*Banner principal --------------------------------------------------------*/
.banner{
    background-image: url(../img/bg-banner-claro.png);
    background-size:cover;
    background-position:center center; /*- offset na ref da img*/
    height: 100vh;
    color: #FFFFFF;
}

.container--banner{
    margin: 0 5%;
    margin-top: 3vh;
}

.banner__titulo{
    padding-top: 50vh;
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: bolder;
}

.banner__subtitulo{
    font-size: 1.6rem;
    font-weight: normal;
}

.btn{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    background:#C083B9;
    padding: 1.2rem 3rem;
    font-size: 2.6rem;
    border-radius:10px;
}
/*Banner perfil--------------------------------------------------------*/
.banner-perfil{
    background-image: url(../img/fundo-perfil.jpg);
    background-size:cover;
    background-position:center center; /*- offset na ref da img*/
    height: 100vh;
    color: #FFFFFF;
}

.banner-perfil__color{
    background-color: rgba(103,69,130,0.6);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    height:100vh;
}

.banner-perfil__titulo{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bolder;
    padding-bottom: 3vh;
}

/*Menu perfis--------------------------------------------------------*/
.container--perfis{
    margin: 0 5%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top:5vh;
}

.principal{
    font-family: 'Roboto Slab',Arial, Helvetica, sans-serif;
    color: #63458A;
    font-size: 1.8rem;
    text-align: center;
    margin-top:5vh;
}

.menu-perfis__perfil {
    color: #000000;
    text-align: center;
    font-size: 1.5rem;
    padding:0 10%;
}

.menu-perfis__links img{
    background: #63458A;
    border-radius: 10px;
    max-width: 150px;
    margin-top: 5vh;
}

/* Perfil ------------------------------------------------------*/
.perfil{
    color: #63458A;
    font-size: 1.6rem;
}

.container--perfis{
    margin: 0 5%;
}

.menu-perfis__titulo{
    font-family: 'Roboto Slab',Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    text-align: center;
    margin:3vh 0;
}

.perfil__sobre{
    display: flex;
    align-items: center;
}

.u-espaco-direita{
    margin-right: 15px;
}

.perfil__imagem{
    background: #63458A;
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.perfil__imagem img{
    max-width: 150px;
    min-width: 150px;
    border-radius:50%;
    padding: 5px;
   }

.perfil__citacao{
    width: 100%;
    border: 1px solid #63458A;
    font-size: 2rem;
    font-weight: 550;
    line-height: 3rem;
    text-align: center;
}

.u-esquerda{
    text-align: left;
}

.perfil__historia{
    width: 100%;
}

.perfil__historia img{
    padding: 3vh 0;
}

.perfil__historia a{
    color:#63458A;
    word-wrap: break-word;
}

.creditos{
    background: #C083B9;
    margin-top:5vh;
}

.container--creditos{
    margin:0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.creditos__dados{
    color:#63458A;
    font-weight: bold;
    line-height: 1.8rem;
    font-size: 1.4rem;
    padding-left: 2vw;
}

.creditos__dados a{
    color:#63458A;
}

.creditos__foto{
    max-width:100px;
    min-width:100px;
}

.btn--voltar-principal{
    display:block;
    margin:8vh 15%;
}



/*Rodapé--------------------------------------------------------*/
.rodape{
    color: #FFFFFF;
    text-align: center;
    background-color: #323534;
    margin-top:5vh;
}

.container--rodape{
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    font-size: 1.6rem;
    align-items: center;
    text-align: center;
    padding-top:1vh;
}

.rodape__links{
    padding:0;
    line-height:3rem;
}

.rodape__logo{
    padding: 2vh 0;
    max-width: 180px;
    min-width: 180px;
}

.rodape__link-face{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-bottom: 5vh;
}

.rodape__link-face img {
    width: 16px;
}

.rodape__copyrigth{
    background-color: #292A2A;
    line-height: 5vh;
    font-style: normal;
    font-size: 1rem;
    padding: 0;
}

/* Media queries ----------------------------------------- */

@media (min-width:768px){
    /* Geral */
    html{
        font-size: 9px;
    }

    /* Cabeçalho */
    .container{
        margin: 0 10%;
    }

    .navegacao__mobile{
        display: none;
    }

    .navegacao__web{
        display: flex;
        font-size: 1.5rem;
        align-items: center;
        padding:0;
    }

    .navegacao__web li{
        display: inline-block;
        padding-left: 1vw;
    }
    
    /* Banner principal */
    .container--banner{
        margin: 0 10%;
        margin-top: 3vh;
    }
    .container--perfis{
        margin: 0 10%;
    }
    .btn--principal{
        display: inline-block;
    }

    /* Rodapé */
    .container--rodape{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 10%;
        font-size: 1.5rem;
    }

    .rodape__link-face{
        margin-bottom: 0;
        }
}

@media (min-width:768px){
    /* Geral */
    html{
        font-size: 10px;
    }

    /* Cabeçalho */
    .container{
        margin: 0 15%;
    }

    /* .navegacao__mobile{
        display: none;
    } */

    /* .navegacao__web{
        display: flex;
        font-size: 1.5rem;
        align-items: center;
        padding:0;
    } */

    /* .navegacao__web li{
        display: inline-block;
        padding-left: 1vw;
    } */
    
    /* Banner principal */
    .container--banner{
        margin: 0 15%;
        margin-top: 3vh;
    }

    .container--perfis{
        margin: 0 15%;
    }
    .menu-perfis__perfil {
        padding:0 15%;
    }


    .btn--principal{
        display: inline-block;
    }

    /* Rodapé */
    .container--rodape{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 15%;
        font-size: 1.5rem;
    }

    .rodape__link-face{
        margin-bottom: 0;
        }
}